.btn {
  background-color: red;
}
.nav-button{
  justify-content: right;
  display: flex;
  flex:11;
  padding:10px 10px 10px 0px;
  margin:0px
  /* color:red */
}

.title{
  display:flex;
  flex:1;
  padding-left:15px;
  color:red
}

.nav-container{
  display:flex;
  background-color:rgb(26, 26, 26);
}